/* ================================== */
/* Media Queries ==================== */
/* ================================== */

// Tablet Dimentions =+=+=+=+=+=+=+=+=+=+=//

@media (max-width: 75em) {
    .prime-wrapper {
        flex-direction: column;
        width: 100%;
        // box-sizing: border-box;

        main,
        aside {
            width: 100%;
        }

        main {
            flex-direction: column;
        }

        .articles-section {
            display: flex;
            justify-content: space-between;

            //This ensures that fewer articles show next to each other and are further spaced-out
            flex-wrap: wrap;

            article {
                flex-direction: column;

                width: calc(45% - 1em);
                margin: 0 0 1em 1em;
                padding: 0;

                figure {
                    width: 100%;
                    img {
                        width: 100%;
                        margin: 0;
                    }
                }
                .article-content {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }
            }
        }

        aside {
            padding: 3em 1em 2em 1em;
            flex-direction: row;
            box-sizing: border-box;
            flex-wrap: wrap;
            align-items: flex-start;

            .search {
                input {
                    width: 48.5%;
                }
            }

            .news-segment {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                // align-items: flex-start;

                calendar-widget {
                    width: calc(50% - 1em);
                    height: 15em;
                    // margin: 3em 1em 0 1em;

                    box-sizing: border-box;

                    justify-content: center;
                }

                calendar-top {
                    height: 2.4em;
                }

                .popular-news {
                    width: 40%;
                }
            }
        }
    }

    footer {
        .wrapper {
            display: flex;
            flex-wrap: wrap;


            .copy{
                width: 100%;
                // *note: The "order" property positions elements according to the value of their order. The default value is 0, and any value higher than it is placed further down.
                order: 1;
            }
            .nav {
                width: 60%;

                .footer-nav {
                    a {
                        padding: 0;
                    }
                }
            } 
            
            .social {
                width: 30%;

                ul{
                    li{
                        width: 33%;
                    }
                }
            }
        }
    }
}

// Mobile Dimentions =+=+=+=+=+=+=+=+=+=+=//

@media (max-width: 36.125em) {
}
