/* ================================== */
/* Media Queries ==================== */
/* ================================== */

// Tablet Dimentions =+=+=+=+=+=+=+=+=+=+=//

@media (max-width: 75em) {
    header {
        .header-wrapper{
            @include nav-wrapper-properties(space-between);

            .nav-toggle {
                display: block;
                order: 1;
                
                .toggle-line{
                    display: block;
                }
            }

            .header-nav-left,
            .header-nav-right {
                display: none;
            }
        }
    }

    .prime-wrapper {
        flex-direction: column;
        width: 100%;
        // box-sizing: border-box;

        main,
        aside {
            width: 100%;
        }

        main {
            flex-direction: column;
        }

        .articles-section {
            display: flex;
            justify-content: space-between;

            //This ensures that fewer articles show next to each other and are further spaced-out
            flex-wrap: wrap;

            article {
                flex-direction: column;

                width: calc(45% - 1em);
                margin: 0 0 1em 1em;
                padding: 0;

                figure {
                    width: 100%;
                    img {
                        width: 100%;
                        margin: 0;
                    }
                }
                .article-content {
                    padding: 0;
                    margin: 0;
                    width: 100%;
                }
            }
        }

        aside {
            padding: 3em 1em 2em 1em;
            flex-direction: row;
            box-sizing: border-box;
            flex-wrap: wrap;
            align-items: flex-start;

            .search {
                input {
                    width: 48.5%;
                }
            }

            .news-segment {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                // align-items: flex-start;

                calendar-widget {
                    width: calc(50% - 1em);
                    height: 15em;
                    // margin: 3em 1em 0 1em;

                    box-sizing: border-box;

                    justify-content: center;
                }

                calendar-top {
                    height: 2.4em;
                }

                .popular-news {
                    width: 40%;
                }
            }
        }
    }

    footer {
        height: 7em;
        
        .wrapper {
            flex-direction: column;

            .copy {
                order: 2;
            }

            .nav {
                order: 0;
                // justify-content: space-around;
                .footer-nav {
                    margin: 1em;

                    ul {
                        justify-content: space-around;
                        li {
                            a {
                                padding: 0;
                            }
                        }
                    }
                }
            }

            .social {
                order: 1;
                width: 40%;

                ul {
                    justify-content: space-around;
                }
            }
        }

        .copy,
        .nav,
        .social {
            width: 100%;
        }
    }
}

// Mobile Dimentions =+=+=+=+=+=+=+=+=+=+=//

@media (max-width: 36.125em) {
    .prime-wrapper {
        
        main {
            .articles-section {
                article {
                    width: 100%;
                    .article-content {
                        width: 100%;
                    }
                }
            }
        }

        aside {
            justify-content: space-around;
            .search {
                width: 80%;
                input {
                    width: 100%;
                }
            }
            .news-segment {
                calendar-widget,
                .popular-news {
                    width: 100%;
                }
            }
        }
    }

    footer {
        height: 7em;
        flex-direction: column;

        .social {
            display: flex;
            justify-content: start;
        }
    }
}
